﻿@inherits Umbraco.Web.Macros.PartialViewMacroPage

@{ var selection = 
    Model.Content.AncestorOrSelf(1)
    .Children
    .Where(x => x.DocumentTypeAlias== "projectsMain")
    .First()
    .Children
    .Where(x => x.GetPropertyValue<int>("projectStatus") == 28  )
    .OrderBy("CreateDate desc")
    .Take(5); }
   


    <h2>Our projects</h2>
    @foreach (var item in selection)
    {
        <a href="@item.Url"><h4>@item.Name</h4></a><hr/>
    }
