﻿@inherits Umbraco.Web.Mvc.UmbracoTemplatePage<ContentModels.About>
@using ContentModels = Umbraco.Web.PublishedContentModels;
@{
	Layout = null;
}

    <br /><br />
@CurrentPage.GetGridHtml("gridLayout","Bootstrap3")

<br /><br />