﻿@inherits Umbraco.Web.Mvc.UmbracoTemplatePage<ContentModels.ArticlesItem>
@using ContentModels = Umbraco.Web.PublishedContentModels;
@{
	Layout = "MasterLayout.cshtml";
}


<div class="container">
<h1>@Umbraco.Field("articleTitle")</h1><br><br>
@Umbraco.Field("articleContents")
</div>