﻿@inherits Umbraco.Web.Mvc.UmbracoTemplatePage<ContentModels.HomePage>
@using ContentModels = Umbraco.Web.PublishedContentModels;
@{
	Layout = "MasterLayout.cshtml";
}

<div id="content" class="container">
        <div class="col-sm-8 mx-auto">
            <p>@Umbraco.Field("mainContent")</p>
            @Umbraco.RenderMacro("listNwestProjects")
        </div>
</div>

