﻿@inherits Umbraco.Web.Mvc.UmbracoTemplatePage<ContentModels.ProjectsItem>
@using ContentModels = Umbraco.Web.PublishedContentModels;
@{
	Layout = "MasterLayout.cshtml";
}

<div class="container">
<h1>@Umbraco.Field("projectTitle")</h1><br><br>
@Umbraco.Field("projectContents")
@Umbraco.Field("projectStatus")
</div>